a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: #7FFFD4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  }
  h1{
    color: #056e4a;
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  h3{
    color: lightskyblue;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }

  p{
   color:black;
   font-size: large;
   padding:10px;
  }
  
  
  body{
    background-color: white;
  }
  .col-md-12{
    background-color: rgb(250, 248, 248);
    padding-top: 20px;
    padding-bottom:40px;
  }

  @media(max-width: 992px) {
    .navbar {
      max-height: none;
      padding: inherit;
    }
    a.navbar-brand {
      padding: 10px;
    }
  }