a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: #7FFFD4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
  }

  a.nav-link{
    color:black;
  }

  h1{
    color: #7FFFD4;
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  h3{
    color: lightskyblue;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .img-thumbnail{
    padding:5px;
    margin:5px;
    border: #DCDCDC;
  }

  p{
   color:black;
   font-size: large;
   padding:10px;
  }
  
  
  body{
    background-color: white;
  }
  .col-md-12{
    background-color: rgb(250, 248, 248);
    padding-top: 20px;
    padding-bottom:40px;
  }
  
  .navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
    background-color:rgb(7, 97, 97);
  }
  
  .nav-item.dropdown.show {
    background-color: #ddd;
  }
  
  .dropdown-menu {
    margin: 0;
  }
  
  
  .content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
  }
  
  .content.bg-white {
    margin-top: 15px;
  }

  
  @media(max-width: 992px) {
    .navbar-expand-lg {
    background-color: #000000;
    }
    .navbar {
      max-height: none;
      padding: inherit;
    }
    .navbar div {
      margin: inherit;
      background-color: rgb(255,255,255);
    }
    .navbar-brand {
      padding: 10px;
    }
    button{
      margin-right: 30px;
    }
    button:focus {
      outline: 1px dotted;
      outline: auto 5px;
    }
    .navbar-toggler {
      border: none;
      background-color: rgb(255,255,255);
    }